<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simura's Blog</title>
    <link rel="icon" href="/static/icon.png">
    <!--  Bootstrap -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="/static/app.css">

    {% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}
    {% endblock %}

</head>
<body class="home-template">
    <!-- 导航栏 -->
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <div class="col-md-10">
                    <a class="blog-nav-item active" href="{{ url_for('main.index') }}">Home</a>
                    <a class="blog-nav-item" href="{{ url_for('main.tags') }}">Category</a>
                    <a class="blog-nav-item" href="#">Comment</a>
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                    <a class="blog-nav-item" href="{{ url_for('main.moderate') }}">Comment Moderation</a>
                    <a class="blog-nav-item" href="{{ url_for('main.category') }}">Category Edit</a>
                    <a class="blog-nav-item" href="{{ url_for('main.create_post') }}">Create Post</a>
                    {% endif %}
                </div>
                <div class="dropdown col-md-2">
                    {% if current_user.is_authenticated() %}
                    <a href="#" class="blog-nav-item" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}"> {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">变更密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">变更邮箱</a></li>
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                     </ul>
                     {% else %}
                     <a href="{{ url_for('auth.login') }}" class="blog-nav-item">登录</a>
                     {% endif %}
                 </div>
            </nav>
        </div>
    </div>
	<section class="content">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        <div class="container">
            <div class="row">
                <!-- Blog正文 -->
                <main class="col-md-8 main-content">
                    {% block main %}
                    {% endblock %}
                </main>
                <!-- 侧边 -->
                <aside class="col-md-4 sidebar">
                    {% block aside %}
                    <div class="widget">
                        <h4 class="title">关于作者</h4>
                        <img src="/static/myself.png" width="150" height="150">
                        <br>
                        <p>SimuraEpona</p>
                        <p>新手程序员，任天堂爱好者</p>

                        <ul class="list-inline">
                            <li>
                                <a class="navbar-brand" href="http://www.weibo.com/SimuraEpona" target="_blank">
                                    <img alt="Weibo" src="/static/weibo.png" width="25" height="25">
                                </a>
                            </li>
                            <li>
                                <a class="navbar-brand" href="tencent://message/?uin=490472721&Site=&Menu=yes">
                                    <img alt="QQ" src="/static/qq.png" width="25" height="25">
                                </a>
                            </li>
                            <li>
                                <a class="navbar-brand" href="https://github.com/SimuraEpona" target="_blank">
                                    <img alt="GitHub" src="/static/github.png" width="25" height="25">
                                </a>
                            </li>
                            <li>
                                <a class="navbar-brand" href="mailto:490472721@qq.com" target="_blank">
                                    <img alt="Weibo" src="/static/email.png" width="25" height="25">
                                </a>
                            </li>
                        </ul>


                        <hr />
                        <p>There's nothing wrong with having a little fun</p>   
                    </div>
                    <hr>
                    <div class="nav nav-pills">
                        <h4>分类</h4>
                        {% for category in categories %}
                        <li><a href="{{ url_for('main.tag', id = category.id) }}">{{ category.body }}</a></li>
                        {% endfor %}
                    </div>
                    {% endblock %} 
                </aside>
            </div>
        </div>
    </section>
</body>
</html>