{% extends "base.html" %}

{% block main %}
<ol class="breadcrumb">
	<li><a href="{{ url_for('main.index') }}">首页</a></li>
	<li><a href="{{ url_for('main.tags') }}">分类</a></li>
    <li><a href="{{ url_for('main.tag', id = category.id) }}">{{ category.body }}</a></li>
</ol>
<hr>
<div class="alert alert-info" align="center">
    <a href="{{ url_for('main.tag', id = category.id) }}">{{ category.body }}</a>
</div>
{% for post in category.posts %}
    <div class="page-header">
			<a href="{{ url_for('main.post', id = post.id) }}">{{ post.head }}</a>
    </div>
{% endfor %}

{% endblock %}